/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
	text-align: center;
}
nav {
	padding-top: 10px;
	text-align: center;
	position: fixed;
	background: white;
	height: 70px;
	width: 100%;
}

nav a, nav img {
	padding: 10px 40px;
	color: gray;
	text-decoration: none;
	vertical-align: middle;

}

header {
	padding-top: 100px;
	text-align: center;
}

header #title, header img {
	display: inline-block;
	margin: 30px;
	width: 30%;
}

#title h1 {
	font-size: 80px;
	width: 65%;
	margin: 0px auto;
}

#get-started {
	background: white;
	border: solid black 1px;
	padding: 5px 20px;
	font: inherit;
}

#left-content, #right-content, #middle-content {
	display: inline-block;
}

#top-content {
	border-top: solid black 1px;
}
#bottom-content {
	border-bottom: solid black 1px;
}

#top-content, #bottom-content {
	width: 90%;
	margin: auto;
	padding: 40px 0px;
	text-align: center;
}

#top-content #left-content, #top-content #right-content {
	width: 45%;
	text-align: left;
	padding: 0px;
}



.middle-img {
	width: 90%;
	margin: auto;
}

#bottom-content #left-content, #bottom-content #middle-content, #bottom-content #right-content {
	width: 30%;
	text-align: left;
	padding: 0px;
}

#contact {
	margin-left: 50px;
	padding-top: 30px;
	width: 15%;
	text-align: left;
}

footer {
	padding-top: 25px;
}